/*======= Reset CSS ====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/*======= variable ====================*/
:root {
  --base-color: rgb(231, 231, 231);
  --color-h: rgb(13, 8, 58);
}

/*======= Header ====================*/
header {
  background-color: rgb(3, 134, 3);
  text-align: center;
  padding: 2rem 0 10rem;
}

/*======= Global ====================*/
html {
  font-size: 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  color: #49aa26;
  text-decoration: none;
}

a:hover {
  color: #3dd703;
}

.button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

#logo {
  color: white;
  font-weight: 100;
  font-family: 'Dancing Script', sans-serif;
}

.container {
  width: min(90vw, 500px);

  margin: auto;
}

body {
  font-family: 'DM Sans' sans-serif;
  background-color: #cacbcc;
}

/*======= balance ====================*/
#balance {
  margin-top: -5rem;
  margin-bottom: 3rem;
  font-weight: normal;
}

#balance h2 {
  color: white;
  padding: 1rem 0;
  font-weight: normal;
}

.card {
  background-color: white;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.3);
}

.card.total {
  background-color: rgb(55, 160, 55);
}

.card h3 {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-h);
  font-weight: normal;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#balance .card.total h3,
.card.total p {
  color: white;
}

/*======= trasaction ====================*/
#trasaction h2 {
  padding: 1rem;
  font-weight: normal;
}
#table-one {
  display: block;
  width: 100%;
  text-align: left;
  border-spacing: 0 0.5rem;
  font-size: 1rem;

  overflow-x: auto;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
  color: var(--color-h);
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  color: var(--color-h);
}

table th {
  background-color: var(--base-color);
  font-weight: normal;
  padding: 0.5rem 0.5rem;
  color: var(--color-h);
}

table td {
  background-color: var(--base-color);
  padding: 0.5rem 0.5rem;
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

table tr {
  opacity: 0.5;
}

table tr:hover {
  opacity: 1;
}

/*======= footer ====================*/

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--color-h);
  font-weight: 100;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.5rem;
}

/*======= responsive ====================*/

@media (min-width: 900px) {
  html {
    font-size: 14px;
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
